@charset "UTF-8";

/**
 * 文件名称：app.css
 * 2017年04月07日09:04:16
 * 文件作者:qq2575896094
 **/

/*========================================================系统样式==重置样式==============================================================*/
html {
    font-family: sans-serif;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    -webkit-overflow-scrolling: touch;
    font-size: 1.6rem;
    line-height: 1.5;
    background: #f8f8f8;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

progress {
    vertical-align: baseline;
}

template, [hidden] {
    display: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

a:active, a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: 0;
    text-decoration: underline dotted;
}

b, strong {
    font-weight: inherit;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    outline: 0;
}

svg:not(:root) {
    overflow: hidden;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

figure {
    margin: 1em 40px;
}

hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

button, input, select, textarea {
    font: inherit;
    margin: 0;
}

optgroup {
    font-weight: bold;
}

button, input {
    overflow: visible;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button, select {
    text-transform: none;
}

button, input[type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

textarea {
    overflow: auto;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

/*======================================================================================================================*/
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.float-both {
    clear: both;
}

/*======================================================================================================================*/
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-inherit {
    position: inherit;
}

.position-fixed {
    position: fixed;
}

.position-static {
    position: static;
}

/*======================================================================================================================*/
.display-none {
    display: none;
}

.display-none-important {
    display: none !important;
}

.display-inline {
    display: inline;
}

.display-inline-important {
    display: inline !important;
}

.display-inline-block {
    display: inline-block;
}

.display-inline-block-important {
    display: inline-block !important;
}

.display-block {
    display: block;
}

.display-block-important {
    display: block !important;
}

.display-table {
    display: table;
}

.display-inherit {
    display: inherit;
}

.display-flex {
    display: flex;
}

.display-table-cell {
    display: table-cell;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/*======================================================================================================================*/
::-webkit-scrollbar { /*整体部分*/
    width: 0;
    height: 0;
}

::-webkit-scrollbar-track { /*滑块轨道*/
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb { /*滑块*/
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:hover { /*滑块*/
    background: rgba(0, 0, 0, 0);
}

/*======================================================================================================================*/
.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

/*======================================================================================================================*/
.text-in {
    text-indent: 2em;
}

/*======================================================================================================================*/
.z-index-0 {
    z-index: 0;
}

.z-index-10 {
    z-index: 10;
}

.z-index-100 {
    z-index: 100;
}

.z-index-1000 {
    z-index: 1000;
}

.z-index-10000 {
    z-index: 10000;
}

.z-index-100000 {
    z-index: 100000;
}

.z-index-1000000 {
    z-index: 1000000;
}

/*======================================================================================================================*/
.overflow-hidden {
    overflow: hidden; /*内容会被修剪，并且其余内容是不可见的。*/
}

.overflow-auto {
    overflow: auto; /*如果内容被修剪，则浏览器会显示滚动条以便查看其余的内容。*/
}

.overflow-visible {
    overflow: visible; /*默认值。内容不会被修剪，会呈现在元素框之外。*/
}

.overflow-scroll {
    overflow: scroll; /*内容会被修剪，但是浏览器会显示滚动条以便查看其余的内容。*/
}

.overflow-inherit {
    overflow: inherit; /*规定应该从父元素继承 overflow 属性的值。*/
}

/*========================================================水平方向==============================================================*/
.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

/*========================================================垂直方向==============================================================*/
.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

/*========================================================文本加粗==============================================================*/
.font-weight-bold {
    font-weight: bold;
}

.font-weight-normal {
    font-weight: normal;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

/*========================================================换行处理==============================================================*/
.white-space-normal {
    white-space: normal;
}

.white-space-nowrap {
    white-space: nowrap;
}

.white-space-pre {
    white-space: pre;
}

.white-space-pre-line {
    white-space: pre-line;
}

.white-space-pre-wrap {
    white-space: pre-wrap;
}

.word-break-break-all {
    word-break: break-all;
}

/*========================================================块元素垂直对齐==============================================================*/
.vertical-align-middle {
    vertical-align: middle;
}

.vertical-align-top {
    vertical-align: top; /*把元素的顶端与行中最高元素的顶端对齐*/
}

.vertical-align-texttop {
    vertical-align: text-top; /*把元素的顶端与父元素字体的顶端对齐*/
}

.vertical-align-bottom {
    vertical-align: bottom;
}

.vertical-align-textbottom {
    vertical-align: text-bottom; /*把元素的底端与父元素字体的底端对齐。*/
}

.vertical-align-baseline {
    vertical-align: baseline; /*默认,元素放在父元素的基准线上*/
}

.vertical-align-sub {
    vertical-align: sub; /*垂直对其文本的下标*/
}

.vertical-align-super {
    vertical-align: super; /*垂直对其文本的上标*/
}

.vertical-align-length {
    vertical-align: 5px; /**/
}

.vertical-align-percent {
    vertical-align: 100%; /*使用 "line-height" 属性的百分比值来排列此元素。允许使用负值。*/
}

.vertical-align-inherit {
    vertical-align: inherit; /*规定应该从父元素继承 vertical-align 属性的值。*/
}

/*======================================================================================================================*/
.outline-none {
    outline-width: 0;
}

.border-none {
    border-width: 0;
    outline-width: 0;
}

.border-vertical-both-after, .border-vertical-top-after, .border-vertical-bottom-after, .border-horizontal-both-after, .border-horizontal-left-after, .border-horizontal-right-after, .border-vertical-both-margin-10-after, .border-vertical-top-margin-left-10-after:after, .border-vertical-top-margin-right-10-after, .border-vertical-bottom-margin-left-10-after, .border-vertical-bottom-margin-right-10-after, .border-horizontal-both-margin-10-after, .border-horizontal-left-margin-top-10-after, .border-horizontal-left-margin-bottom-10-after, .border-horizontal-right-margin-top-10-after, .border-horizontal-right-margin-bottom-10-after, .border-vertical-top-margin-both-10-after, .border-vertical-bottom-margin-both-10-after, .border-horizontal-left-margin-both-10-after, .border-horizontal-right-margin-both-10-after, .border-both-after {
    position: relative;
    overflow: hidden;
}

.border-vertical-both-after:after, .border-vertical-top-after:after, .border-vertical-bottom-after:after, .border-horizontal-both-after:after, .border-horizontal-left-after:after, .border-horizontal-right-after:after, .border-vertical-both-margin-10-after:after, .border-vertical-top-margin-left-10-after:after, .border-vertical-top-margin-right-10-after:after, .border-vertical-bottom-margin-left-10-after:after, .border-vertical-bottom-margin-right-10-after:after, .border-horizontal-both-margin-10-after:after, .border-horizontal-left-margin-top-10-after:after, .border-horizontal-left-margin-bottom-10-after:after, .border-horizontal-right-margin-top-10-after:after, .border-horizontal-right-margin-bottom-10-after:after, .border-vertical-top-margin-both-10-after:after, .border-vertical-bottom-margin-both-10-after:after, .border-horizontal-left-margin-both-10-after:after, .border-horizontal-right-margin-both-10-after:after, .border-both-after:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
    transform: scale(1);
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(1);
    pointer-events: none;
}

/*垂直方向*/
.border-vertical-both-white {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.border-vertical-both-after:after, .border-vertical-both-margin-10-after:after {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.border-vertical-top-white {
    border-top: 1px solid white;
}

.border-vertical-top-after:after, .border-vertical-top-margin-left-10-after:after, .border-vertical-top-margin-right-10-after:after, .border-vertical-top-margin-both-10-after:after {
    border-top: 1px solid #e6e6e6;
}

.border-vertical-bottom-white {
    border-bottom: 1px solid white;
}

.border-vertical-bottom-after:after, .border-vertical-bottom-margin-left-10-after:after, .border-vertical-bottom-margin-right-10-after:after, .border-vertical-bottom-margin-both-10-after:after {
    border-bottom: 1px solid #e6e6e6;
}

.border-vertical-both-margin-10-after:after {
    margin-left: 10px;
    margin-right: 10px;
}

.border-vertical-top-margin-both-10-after:after {
    margin-left: 10px;
    margin-right: 10px;
}

.border-vertical-top-margin-left-10-after:after {
    margin-left: 10px;
}

.border-vertical-top-margin-right-10-after:after {
    margin-right: 10px;
}

.border-vertical-bottom-margin-both-10-after:after {
    margin-left: 10px;
    margin-right: 10px;
}

.border-vertical-bottom-margin-left-10-after:after {
    margin-left: 10px;
}

.border-vertical-bottom-margin-right-10-after:after {
    margin-right: 10px;
}

/*水平方向*/
.border-horizontal-both-white {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.border-horizontal-both-after:after, .border-horizontal-both-margin-10-after:after {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.border-horizontal-left-white {
    border-left: 1px solid white;
}

.border-horizontal-left-after:after, .border-horizontal-left-margin-top-10-after:after, .border-horizontal-left-margin-bottom-10-after:after, .border-horizontal-left-margin-both-10-after:after {
    border-left: 1px solid #e6e6e6;
}

.border-horizontal-right-white {
    border-right: 1px solid white;
}

.border-horizontal-right-after:after, .border-horizontal-right-margin-top-10-after:after, .border-horizontal-right-margin-bottom-10-after:after, .border-horizontal-right-margin-both-10-after:after {
    border-right: 1px solid #e6e6e6;
}

.border-horizontal-both-margin-10-after:after {
    margin-top: 10px;
    margin-bottom: 10px;
}

.border-horizontal-left-margin-both-10-after:after {
    margin-top: 10px;
    margin-bottom: 10px;
}

.border-horizontal-left-margin-top-10-after:after {
    margin-top: 10px;
}

.border-horizontal-left-margin-bottom-10-after:after {
    margin-bottom: 10px;
}

.border-horizontal-right-margin-both-10-after:after {
    margin-top: 10px;
    margin-bottom: 10px;
}

.border-horizontal-right-margin-top-10-after:after {
    margin-top: 10px;
}

.border-horizontal-right-margin-bottom-10-after:after {
    margin-bottom: 10px;
}

/*======================================================================================================================*/
.text-decoration-underline {
    text-decoration: underline;
}

.text-decoration-none {
    text-decoration: none;
}

/*======================================================================================================================*/
/*============================ 常见透明背景 ============================*/
.background-color-transparent-1 {
    background: rgba(0, 0, 0, 0.1);
}

.background-color-transparent-2 {
    background: rgba(0, 0, 0, 0.2);
}

.background-color-transparent-3 {
    background: rgba(0, 0, 0, 0.3);
}

.background-color-transparent-4 {
    background: rgba(0, 0, 0, 0.4);
}

.background-color-transparent-5 {
    background: rgba(0, 0, 0, 0.5);
}

.background-color-transparent-6 {
    background: rgba(0, 0, 0, 0.6);
}

.background-color-transparent-7 {
    background: rgba(0, 0, 0, 0.7);
}

.background-color-transparent-8 {
    background: rgba(0, 0, 0, 0.8);
}

.background-color-transparent-9 {
    background: rgba(0, 0, 0, 0.9);
}

/*======================================================================================================================*/
.box-sizing-border-box {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.box-sizing-content-box {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

/*========================================================让元素水平排布==============================================================*/
.block-horizontal {
    display: box;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
}

.block-item {
    -webkit-box-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*========================================================行块元素水平对齐==============================================================*/
.position-horizontal-center {
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

.horizontal-center {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
}

.horizontal-left {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    display: box;
    box-orient: horizontal;
    box-pack: start;
}

.horizontal-right {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: end;
    display: box;
    box-orient: horizontal;
    box-pack: end;
}

/*========================================================定位元素水平垂直居中==============================================================*/
/*定位元素水平垂直居中*/
.position-center-all {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

/* 行块元素水平垂直对齐 */
.center-all {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}

/*========================================================定位元素垂直居中==============================================================*/
.position-vertical-middle {
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

/*========================================================行块元素垂直对齐==============================================================*/
.vertical-middle {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    display: box;
    box-orient: horizontal;
    box-align: center;
}

.vertical-top {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: start;
    display: box;
    box-orient: horizontal;
    box-align: start;
}

.vertical-bottom {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: end;
    display: box;
    box-orient: horizontal;
    box-align: end;
}

/*========================================================常用流布局==============================================================*/
.box {
    display: box;
    display: -webkit-box;
}

.flexbox-vertical {
    display: box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-flow: column;
    height: 100%;
    -webkit-flex-direction: column;
    flex-direction: column;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.flexbox-horizontal {
    display: box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-flex-flow: row;
    flex-flow: row;
    width: 100%;
    -webkit-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.flex-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.flex-flow-row-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
}

.flex-flow-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
}

/*========================================================让图片自适应宽高（宽和高相等，基于列数控制）==============================================================*/
.img-avg-1 {
    width: 100vw;
    height: 100vw;
}

.img-avg-2 {
    width: 50vw;
    height: 50vw;
}

.img-avg-3 {
    width: 33.33333333333333vw;
    height: 33.33333333333333vw;
}

.img-avg-4 {
    width: 25vw;
    height: 25vw;
}

.img-avg-5 {
    width: 20vw;
    height: 20vw;
}

.img-avg-6 {
    width: 16.66666666666667vw;
    height: 16.66666666666667vw;
}

/*========================================================行块元素水平对齐==============================================================*/
.line-height-normal {
    line-height: normal; /*默认。设置合理的行间距。*/
}

.line-height {
    line-height: inherit; /*规定应该从父元素继承 line-height 属性的值。*/
}

.line-height-0 {
    line-height: 0;
}

.line-height-11 {
    line-height: 1.1rem;
}

.line-height-12 {
    line-height: 1.2rem;
}

.line-height-13 {
    line-height: 1.3rem;
}

.line-height-default {
    line-height: 1.5rem;
}

.line-height-16 {
    line-height: 1.6rem;
}

.line-height-18 {
    line-height: 1.8rem;
}

.line-height-20 {
    line-height: 2rem;
}

